<main>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <!-- Brand/logo -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="">Whim</a>
            </div>


            <!-- Collapsible Navbar -->
            <div class="collapse navbar-collapse" id="example-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/#/">Login<span class="sr-only">(current)</span></a></li>
                    <li><a href="/#/explore">Explore</a></li>
                    <li><a href="/#/profile">Profile</a></li>
                </ul>
            </div>
            <div class="input-group">
              <input type="text" ng-model="search" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button" ng-click="ShowSrch(search)"><span class="glyphicon glyphicon-search" aria-hidden="true">
                  </span> Search!</button>
                </span>
            </div>
        </div>
    </nav>
</main>

<div style="margin-top: 7em;">
  <ul ng-repeat="post in posts">
    <img src="{{post.data.thumbnail}}" class="postImg" ng-if="post.data.thumbnail">
      <p>Likes {{ post.data.score }}</p>
        <p><a ng-href="{{post.data.url}}" class="postText"> {{ post.data.title }} <a/></p>
        <button class="btn btn-info btn-sm" ng-click="addPostToLikes(post.data.name)"><span class="glyphicon glyphicon-heart"></span> Save </button>
      <p class="authorText">Author: {{ post.data.author }} </p>
  </ul>
</div>


<ul class="pagination">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
</ul>