<main>
    <nav class="navbar navbar-default navbar-fixed-top">
            <a class="navbar-brand" href="">Whim</a>
        <ul class="nav nav-tabs">
            <li class="active"><a href="/#/explore">Explore</a></li>
            <li><a href="/#/profile">Profile</a></li>
            <li class="dropdown">
                <a href="/#/profile" data-toggle="dropdown" class="dropdown-toggle">Media <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="https://www.instagram.com/">Instagram <img class="SMLogo" src="https://cdn.worldvectorlogo.com/logos/instagram-2016.svg"></a></li>
                    <li><a href="https://twitter.com/">Twitter <img class="SMLogo" src="https://img.clipartfest.com/2b9fedf2f254517fa6edaf34394b1f5b_new-twitter-logo-vector-eps-twitter-clipart-logo_518-518.png"></a></li>
                    <li><a href="https://www.snapchat.com/">Snapchat <img class="SMLogo" src="https://cdn.worldvectorlogo.com/logos/snapchat.svg"></a></li>
                    <li class="divider"></li>
                    <li><a href="/#/">Sign out</a></li>
                </ul>
            </li>
        </ul>
    </nav>
<div class="container" style="margin-top: 7em;">
    <div class="row">
        <div class="col-lg-3 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAA0oAAAAJDgwZDZhOTViLTEyM2MtNGMyYy1iZmZhLWEwZWI5NzQyNTgyYw.jpg">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="https://www.linkedin.com/in/jesse-waddell-64059b141/">Jesse Waddell</a>
                    </div>
                    <div class="desc">Passionate designer</div>
                    <div class="desc">Curious developer</div>
                    <div class="desc">Eager learner</div>
                </div>
                <div class="bottom">
                    <i class="fa fa-behance"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</main>


<!-- <div>
    <ul ng-repeat="like in likes">
        <li>
        {{ like.title }} 
        <img src="{{like.thumbnail}}"><a href="like.permalink"></a>
        {{ like.author }} 
        <a href="{{like.permalink}}"> {{ like.permalink }} </a>
        <a href="{{like.url}}"> {{ like.url }} </a>
        </li>
    </ul>
</div> -->

<div style="margin-top: 7em;">
  <ul ng-repeat="like in likes" class="">
    <div class="panel-body">
    <img src="{{like.thumbnail}}" class="postImg">
        <p><a ng-href="{{like.url}}" class="postText"> {{ like.title }} <a/></p>
        <button class="btn btn-primary"
        type="button" ng-click="">DELETE</button>
        <div class="panel-footer clearfix" style="margin-top: 2em;">
      <p class="authorText">Author: {{ like.author }} </p>
      </div>
      </div>
  </ul>
</div>